.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-viewer {
  width: 560px;
  position: relative;
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

/* filler svg, scales the box vertically when children are absolute */
.image-viewer > svg {
  width: 100%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
  z-index: 1; /* active image will be set to 2 */
}

.instructions-text {
  color: green;
  position: absolute;
  bottom: 20px;
  z-index: 3;
  user-select: none;
  left: 50%;
  transform: translateX(-50%);
}
